# Gemini API Key
GEMINI_API_KEY=

# Database Configuration
# Format: mysql+pymysql://<username>:<password>@<host>:<port>/<dbname>
DB_URI=mysql+pymysql://newuser:1234@192.168.0.7:3306/museum_db

# Robot SSH Configuration
ROBOT_IP=192.168.0.21
ROBOT_USER=pi
ROBOT_PW=1234

# Remote PC SSH Configuration
REMOTE_PC_IP=192.168.0.29
REMOTE_PC_USER=teamone
REMOTE_PC_PW=1234
REMOTE_TARGET_DIR=/home/teamone
